html {
    background-color : #e9d8a6 ;
    font-family: 'Montserrat', serif;
    --header-height: 100px;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow:
            0 0 0 3px #ee9b00 ,
            0 0 0 6px #ca6702 ,
            0 0 0 9px #ae2012 ;
}

#logo {
    height : var(--header-height);
    flex-grow : 1 ;
}

#logo img {
    height : inherit;
}

#menu img {
    margin : -5px ;
}

#menu {
    width : 60px ;
    display : flex ;
    align-content : center;
    align-items: center;
    flex-direction : column ;
    cursor : pointer;
    position: absolute;
    z-index: 2;
    top: 35px;
    right: 37px;
}

#root {
    height : 40000px ;
    width : 100% ;
    overflow : scroll ;
}

#sidemenu {
    height : 100% ;
    width : 190px ;
    position : fixed;
    top : 0px;
    right : 0px;
    z-index : 1 ;
    background-color : #e9d8a6 ;
    box-shadow: 0 0 100px black;
}

#sidemenu > div {
    padding-top : 140px ;
}

.hidden {
    opacity : 0 ;
}

.slide-in-right {
    animation: bounce-in-right 1s ease;
    opacity : 1 !important ;
}
@keyframes bounce-in-right {
    0% {
        transform: translateX(200px);
    }
    1% {
        opacity: 1 !important;
    }
    100% {
        opacity : 1 !important;
        transform: translateX(0); }
}

#sidemenu.slide-out-right {
    animation: bounce-out-right 1s ease;
}

@keyframes bounce-out-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    90% {
        opacity: 1;
    }
    91% {
        opacity: 0 ;
    }
    100% {
        opacity: 0;
        transform: translateX(200px);
    }
}

#div_stock {
    display: inline-flex;
    background-image: url("../img/stock.jpg");
    height : 701px ;
    width : 100% ;
    flex-direction: column;
    justify-content: center;
}

#div_stock b {
    color : white ;
    font-size: 45px;
    text-align: center;
}

#menu.cross {
    transform : translateX(8px);
}

#menuimg1, #menuimg2, #menuimg3, #menu {
    transition : all 0.5s ease;
}

#menu.cross #menuimg1 {
    transform : rotate(45deg) translate(0, 21px);
}

#menu.cross #menuimg2 {
    opacity : 0 !important ;
    transform : translateX(-8px);
}

#menu.cross #menuimg3{
    transform : rotate(-45deg) translate(0, -21px);
}

#content {
    padding-top : 15px ;
}

