#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow:
            0 0 0 3px #ee9b00 ,
            0 0 0 6px #ca6702 ,
            0 0 0 9px #ae2012 ;
}